<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU6Xw704+hvPcI9D9Xa1k6NfoUvKgrSTFOkDqp7MquNwU6"
          crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Checkout</h1>
      <p>Thank you for your order!</p>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Order summary:</h5>
        </div>
        <ul class="list-group list-group-flush">
          <!-- Use a loop to display the items in the shopping cart -->
          {% for item in shoppingCart %}
            <li class="list-group-item">{{ item.name }} - ${{ item.price }}</li>
          {% endfor %}
        </ul>
        <div class="card-footer">
          <p class="card-text">Total: ${{ total }}</p>
        </div>
      </div>
    </div>
    
    <!-- Add Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmIvsciibg0Tk5U6vPmP"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU6Xw704+hvPcI9D9Xa1k6NfoUvKgrSTFOkDqp7MquNwU6"
            crossorigin="anonymous"></script>
  </body>
</html>
