<!DOCTYPE html>
<html>
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar shadow-sm mt-0 bg-white navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="py-2" href="#" aria-label="Product">
      <img class="img-fluid" src='/static/logo.png' width="220" height="50">
      </a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Home Essentials
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">LED Batten</a></li>
              <li><a class="dropdown-item" href="#">LED Panels</a></li>
              <li><a class="dropdown-item" href="#">LED Profile lights</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Home Decor
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Chandeliers</a></li>
              <li><a class="dropdown-item" href="#">Wall lights</a></li>
              <li><a class="dropdown-item" href="#">Strip lights</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  </body>
</html>